/* Dinos Construction */
/* dinosconstruction.css */
/* Last Edited May 5th 2020 By Chris Anderson */



		/* element selector style rules */
/* style rules for main element adds padding */	
* {
	box-sizing: border-box;}
main {
	display: block; /* added for improved display when using internet explorer */
	overflow: auto;
	min-height: 600px;
	background-color: #E56B51;}
/* style rules for body element */
body {
	background-image: url("photos/background.jpeg"); /* background image of plaster */
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-color: #050505; /*fallback background color if image fails to load */
	color: #221811; 
	font-family: Verdana,Arial,sans-serif;
	}
/* style rules for header element to have a background color of red/pink bottom border and left margin */
header {
	display: block; /* added for improved display when using internet explorer */
	background-color: #E56B51;
	border-bottom: 2px solid rgb(233, 229, 230);
	margin-left:200px;
	margin-bottom: 5px;}
/* style rules for h1, h2, h3, p elements to have 25px of left padding */
h1 {
	font-size: 3em;
	padding-bottom: 0;
	padding-left: 25px;}
h2 {
	padding-left: 25px;}
h3 {
	padding-left: 25px;}
p {
	padding-left: 25px;}
/* style rules for footer element creates a top and bottom border and padding, center aligns italic bold text */
footer {
	display: block; /* added for improved display when using internet explorer */
	background-color: #E56B51;
	font-size: .60em;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	padding-top: 5px;
	padding-bottom:5px;
	border-top: 2px solid rgb(233, 229, 230);
	border-bottom: 2px solid rgb(233, 229, 230);
	margin-top: 5px;}
nav {
	display: block; /* added for improved display when using internet explorer */
	background-color: #E56B51;
	text-align: center;
	font-weight: bold;
	font-size: 1.25em;
	float: left;
	width: 200px;}
/* style rule for the nav to remove underline text */
nav a {
	text-decoration: none;}
/* style rule for the nav to include pseudo classes for links, visited links and hovering over a link */
nav a:link {color: black;}
nav a:visited {color: #eaeae1;}
nav a:hover {color: white;}	
/* style rule for the nav list to remove markers and padding */
nav ul {
	list-style-type: none;
	padding-left: 0;}
nav li {
	padding-bottom: 10px;}
blockquote {
	max-width: 550px;}
table, td {
	text-align:right;}
textarea {
	width: 175px;} /* style rule to give form a fixed matching width */
input[type="text"] {
	width: 175px;} /* style rule to give form a fixed matching width */

									/* ID selector declarations: */

/* style rules for the wrapper provides red/pink background color, company logo, min/max width and margin rules */
#wrapper {
	background-color:#E56B51;
	background-image: url("photos/logo.jpg");
	background-repeat: no-repeat;
	min-width: 900px;
	max-width: 1280px;
	box-shadow: 5px 5px 5px #828282;
	width:80%;
	margin-right: auto;
	margin-left: auto;
	border: 30px solid #E56B51;}	
#complogo {
	background-image: url("photos/complogo.jpg"); /* id for a company banner with 195px height */
	background-size: 100% 100%;
	height: 195px;}
#bottomnav {
	text-align: center; /* id for bottom navigation area, for ease of browsing on all devices, more so mobile devices */
	font-size: 1.25em; 
	font-weight: bold;
	text-decoration: none;
	padding: 2px;}
/* style rule for the id bottom nav to remove underline text */
#bottomnav a {
	text-decoration: none;
	font-style: normal;}
/* id with style rules for the nav to include pseudo classes for links, visited links and hovering over a link */
#bottomnav a:link {
	color: black;}
#bottomnav a:visited {
	color: #eaeae1;}
#bottomnav a:hover {
	color: white;}
#mobile {
	display: none;} /* hide clickable hyperlink for mobile numbers on desktops */
#desktop {
	display: inline;}	
#details {
	display: none;} /* hides details of customer review on index page */

									/* Class selector declarations: */	
.floatright { /* class to used to float multiple images to the right of text */
	float: right;
	padding: 25px;}
.column {
	float: left;
	width: 50%;}
.column2 {
	float: left;
	width: 50%;
	padding-top: 60px;}
.row:after {
	display: table;
	content: "";
	clear: both;}
.tablephoto {
	border: 1px solid black;}

									/* media query style rules for a tablet or high resolution mobile device */
@media only screen and (max-width: 1024px) {
/* style rules to remove margin and background image in the body element when not using a desktop display */
body {
	margin: 0;
	background-image: none;
	background-color: #E56B51;}
/* style rule for a header */
header {
	margin-left: 0;
	margin-bottom: 0;}
/* style rules for the h1 element reduce text size and margins for mobile devices*/
h1 {
	margin-top: 5px;
	padding-top: 1em;
	padding-bottom: 1em;
	font-size: 2.5em;}
/* style rules for the nav element to remove 2 column layout, display auto width, 10 pixel margin and smaller font size */
nav {
	float: none;
	width: auto;
	margin: 10px;
	font-size: 1em;}
nav li {
	display: inline-block; /* style rules for the nav list items to display horizontally when using a mobile device */
	padding-bottom: 0;}
nav a {
	padding: 1em;
	width: 8em;
	font-weight: bold;
	border-style: none;}
nav ul {
	padding: 0;
	margin: 0;}
nav	br {
    display: none;}
/* style rules for the main element to remove the margin and reduce text size when not using a desktop display */ 	
main {
	margin: 0;
	font-size: 90%;}
									/* ID selector declarations: */

/* style rules for the wrapper removing logo and margins/padding for mobile devices */
#wrapper {
	width: auto;
	min-width: 0;
	margin: 0;
	padding: 0;
	box-shadow: none;
	background-image: none;
border: 0;}}
									/* Class selector declarations: */	
.column2 {
	padding-top: 25px;}



									/* media query style rules for a mobile device */
@media only screen and (max-width: 768px) {
header {
	height: 200px;
	margin-left: 0;
	margin-bottom: 0;} 
/* style rule for the h1 element for mobile devices */
h1 {
	font-size: 2em;
	padding: 0;}
/* style rules for the nav elements to remove the margin */
nav {
	margin: 0;}
nav a {
	display: block;
	padding: 0.2em;
	width: auto;
	border-bottom: 1px solid #FEF6C2;}
nav li {
	display: block;
	padding-bottom: 0;}
nav	br {
    display: none;}
/* style rule for the main element to add 1 pixel of padding to the top, for mobile devices */
main {
	padding-top: 1px;}
/* style rule for the h2 element to add right margin, and slight top and left padding for mobile devices */
h2 {
	padding: 0.5em 0 0 0.5em;
	margin-right: 0.5em;}
h3 {
	margin: 0;}
table {
	display: inline-block;}
td {
  display: block;
	clear:both;}
form td {
float: left;}
									/* ID selector declarations: */
#bottomnav {
	text-align: center;
	font-size: .65em;}
#mobile {
	display: inline;}
#desktop {
	display: none;}
#wrapper {
	border: 0;
	background-image: none;
	margin: 25px;}	
#flex-container { 		/* id for rearranging text above photos for mobile devices */
  display: flex;
  flex-direction: column-reverse;}
#resize img {
	width: 280px;}
									/* Class selector declarations: */	
/* style for a class delcaration that removes 2 column layout for mobile devices */	
 .floatright { /* modifies the float right class to display 100% width and center align text for mobile devices */
	padding: 0;
	width: 100%;
	text-align: center;}
.column {
	float: none;
	width: 100%;}
.column2 {
	float: right;
	width: 100%;
	padding-top: 0;
text-align: center;}}